.menu {
    padding: 10px 15px 10px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    @media screen and (max-width: 479.98px) {
        padding: 0;
    }
    &__list {
        display: flex;
        column-gap: 56px;
        margin-left: 131px;   
        flex-wrap: wrap;
        row-gap: 10px;
        @media screen and (max-width: 1092px) {
            margin-left: 50px;
            column-gap: 40px;
        }  
        @media screen and (max-width: 479.89px) {
            margin-left: 20px;
            column-gap: 20px;
        }
    }
    &__link {
        color: rgba(18, 18, 18, 0.4);
        font-weight: 500;
    }
    &__link:hover {
        text-decoration: underline;
    }
}
