.page {
    flex: 1 1 auto;

}

.main {
    padding-bottom: 80px;
    &__container {
        display: flex;
    }
    &__content {
        align-self: flex-end;
        padding-bottom: 60px;
        padding-right: 20px;
    }
    &__title {
        font-family: CalSans;
        color: #121212;
        font-size: 56px;
        line-height: 67px;
    }
    &__text {

    }
    &__actions {}
}

.actions__main {
}

.action-main__button {
    padding: 18.5px 48px;
    background-color: #FF6428;
    border-radius: 40px;
    color: #fff;
    line-height: 24px;
    font-weight: 600;

    &__icon {

    }
}